@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  font-family: var(--font-inter);
}

.font-arabic {
  font-family: var(--font-cairo);
}

.container {
  @apply mx-auto w-full max-w-6xl px-4;
}

.prose {
  @apply text-slate-700;
}
